*{
    font-family: Arial, Helvetica, sans-serif;
    /* color: #ffffff; */
    margin: 0px;

}
.header-nav .nav{
    height: 80px;
    background-color: rgb(99, 99, 219);
    display: flex;
    justify-content: space-between;
    justify-self: center;
    /* color: #ffffff; */

}
.header-nav .nav .logo-link{
    padding-top: 25px;
    padding-left: 100px;
    font-size: 20px;
  
}
.nav-link{
    display: flex;
    font-size: 14px;
    width: 400px;
    justify-content: space-between;
    padding: 30px 100px 0 0;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

.hero .banner{
    height: 500px;
    display: flex;
    padding-top: 100px;

}
.hero .banner img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 50px;

}
.hero .banner #bio{
    padding-top: 30px;
    padding-left: 100px;
    width: 600px;
    color: #212121;
}
.hero .banner #bio h1 {
    font-size: 3rem;

}

.hero .banner #bio p{
   font-size: 16px;
   letter-spacing: 0.5px;
   line-height: 1.5rem;
   margin-top: 20px;
}
.contact{
    display: flex;
    height: 350px;
    background-color: rgb(99, 99, 219);
    padding: 100px 0 20px 0;
    color: #ffffff;
}
.contact .first{
    width: 50%;
    padding-left: 100px;
}
.contact .first h3{
    font-size: 26px;
    width: 460px;
    text-transform: uppercase;
    line-height: 2.5rem;
}
.contact .first p{
    font-size: 16px;
    line-height: 1.9rem;
    margin-top: 10px;
}

.contact .second{
    width: 50%;
    padding-left: 100px;
}
.contact .second h3{
    font-size: 26px;
    width: 460px;
    text-transform: uppercase;
    line-height: 2.5rem;
}
.contact .second p{
    font-size: 16px;
    margin-top: 10px;

}
.services{
    height: 500px;
}

.services h3{
margin-left: 100px;
margin-top: 100px;
margin-bottom: 40px;
font-size: 26px;
}

.serv{
display: flex;
margin-left: 100px;
margin-right: 100px;
margin-top: 20px;
justify-content: space-between;
height: 300px;
padding: 5px;
}

.serv .card{
    width: 300px;
    height: 170px;
    background-color: rgb(54, 54, 54);
    padding: 30px;
    border-radius: 5px;
    color: #eeeeee;
    text-align: center;
}

.serv .card h5{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;

}
.services .card p{
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5rem;

}
.footer{
    height: 200px;
    background-color: rgb(99, 99, 219);
    padding-left: 100px;
    padding-top: 80px;
    text-align: center;
    color: #ffffff;
}

.footer :nth-child(1){
    font-size: 18px;
    font-weight: 600;
    color: #eeeeee;
}
.footer :nth-child(2){
    font-size: 24px;
    font-weight: 700px;
    color: #eeeeee;
    padding-top: 10px;
}
.footer .icons{
    justify-content: space-between;
    display: flex;
    width: 150px;
    color: #eeeeee;
    align-items: center;
    margin-left: 43%;
    margin-top: 20px;
    
}
.footer .icons a .iconify{
    width: 24px;
    height: 24px;
    color: #eeeeee;
}